h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;  
}

body {
    font-size: 16px;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
    padding-left: 25%;
    padding-right: 25%;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
   

}

img { 
    margin-bottom: 20px;}

